.root {
    --primary-color: #0f4c75;
    --secondary-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

hr {
    color: #798777;
    
}

.wtz-head-container {
    display: flex;
    flex-flow: nowrap;
    background-color: #0f4c75 ;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.wtz-title {
    display: block;
    width: 25%;
    color: #FFFFFF;
}

.wtz-navigation {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.wtz-main__title{
    margin: 0.5em 0.5em 0 0.5em;

}

.wtz-subtitle {
    margin: 0 2em 0.75em 2em;
    font-size: 0.75rem;
}

.wtz-main__title:hover,
.wtz-subtitle:hover {
    color: #a3e961;
    
}
.wtz-navigation ul{
    display: flex;
    padding: 1em;
    list-style: none;
    width: 75%;
    justify-content: space-around;
}

nav li {
    margin-left: 2em;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    padding: 0.25em 0;
    font-size: 1.25rem;
}

nav a:hover {
    color: #a3e961;
    border-bottom: 1px solid #51f121 ;
}

.wtz-main {
    display: flex;
    flex-direction: column;
}

.wtz-main-heading{
    color: #0f4c75;
    font-size: 2rem;
    text-align: center;
}

.wtz-dep{
    /* width: 97%; */
    display: flex;
    flex-direction: row;
    border: 1px solid #798777;
    padding-left: 0.75em;
    margin-left: 0.75em;
    
}

.wtz-dep__container {
    width: 45%;
    font-size: 1.1rem
}

.wtz-dep__branches{
    width: 45%;
    list-style: none;
    text-align: start;
    font-weight: bold;
    font-size: 1.2rem;
}

.wtz-dep__branches a{
    color: #0f4c75;
    text-decoration: none;
}

.wtz-dep__branches a:hover {
    color: #a3e961;
}

.wtz-line {
    height: 22vh;
    border-left: 2px solid #6c97be;
    left: 50%;
    margin: 1em auto;
}
.wtz-container {
    width: 100%;
    padding-bottom: 3em;
    /* bottom: 2em; */
}

.wtz-column {
    display: flex;
    width: 100%;
    object-fit: cover;
    justify-content: space-evenly;
}

.wtz-course__col {
    display: flex;
    flex-direction: column;
    width: 31%;
    border: 1px solid #798777;
    padding: 0.5em;
    /* margin-left: 0.5em; */
}

.wtz-section__one{
    display: flex;
    flex-direction: column;
}

.wtz-heading{
    color: #0f4c75;
    position: relative;
    z-index: 10;
    text-align: center;
    margin: 0.75em;
}

.wtz-heading__img {
    width: 100%;
    /* object-fit: cover; */
    margin: 0 auto;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.wtz-course{
    margin: 0.5em;
    padding: 0.5em 0;
}

.wtz-course__heading{
    text-align: center;
    color: #0f4c75;
}

.wtz-course__subheading{
    color: #0f4c75;
    text-align: center;
    order: 2;
    font-size: 1.3rem;
}

.wtz-course__info {
    color: #252829;
    letter-spacing: 0.05em;
    order: 3;
    font-size: 1rem;
    margin: 1.5em 0.75em;
}

.course-img,
.faculty-img {
    width: 97%;
    align-content: center;
    padding: 0.25em;
    order: 1;
}

.wtz-campus__heading{
    text-align: center;
    color: #0f4c75;
}

.wtz-campus__img {
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

.wtz-campus__info {
    padding: 1em 0.5em;
    margin: 1.5em 0.75em;
    border: 1px solid #779988;
    font-size: 1em;
}

footer {
    background: #0f4c75;
    color: #FFFFFF;
    padding: 1em;
}

.wtz-footer__container{
    display: flex;
    width: 100%;
}

.wtz-footer__col {
    display: block;
    width: 32%;
}

.wtz-footer__col ul {
    list-style: none;
}

.wtz-footer__col li{
    padding: 0.25em 0;
}

.wtz-footer__col a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.wtz-footer__col a:hover {
    color: #a3e961;
}

.wtz-footer__title{
    padding-bottom: 0;
    margin-bottom: 0.5em;
}
.wtz-footer__sub {
    font-size: 0.75em;
    padding-top: 0;
    margin-top: 0.125em;
}
.wtz-copyright{
    font-size: 0.75em;
}

@media (max-width: 900px) {
    .wtz-head-container {
        position:unset;
    }

    .wtz-title {
        text-align: center;
    }

    .wtz-navigation {
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .wtz-navigation ul{
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .wtz-navigation li {
        margin: 0.5em 0;
    }

    .wtz-line {
        height: 40vh;
        border-left: 2px solid #6c97be;
        left: 60%;
        margin: 1em auto;
    }

}

@media (min-width: 400px) and (max-width:600px){
    .wtz-head-container {
        position:unset;
    }

    .wtz-title{
        text-align: center;
    }

    .wtz-line {
        height: 60vh;
        border-left: 2px solid #6c97be;
        left: 60%;
        margin: 1em auto;
    }
}